<h1>Full MEAN Wall</h1>
Welcome {{user.name}}! <button ng-click="signOut()">Sign Out </button>
<br>
{{test}}<br>
<input type=text ng-model=test><br>
<input type=text ng-model=test>
<br>
<br>
Post a message:{{message}}<br>
<textarea cols=150 rows=5 ng-model="message"></textarea><br>
<button ng-click="submitPost()">Post a Message</button>
<br>
<br>
<div ng-repeat='post in posts'>
  {{post.user}} - {{post.createdAt | date: "short"}}<br>
  {{post.message}}<br><br>
  <div ng-repeat='comment in post.comments'>
    {{comment.user}} - {{comment.createdAt | date: "short"}}<br>
    {{comment.message}}<br><br>
  </div>
  Post a Comment:{{newComment}}<br>
  <textarea cols=150 rows=5 ng-model="newComment"></textarea><br>
  <button ng-click="submitComment(post._id, newComment)">Post a Comment</button>
</div><br><br>
